<h1>Welcome to Small Reviews</h1>
<h2>The place to share your big love for movies and series. 🎥🎬</h2>
<br>
<%= link_to "Let's see some reviews", reviews_path %> | <%= link_to "Love a particular genre?", "/genres" %> | <%= link_to "Check out the film loving community", users_path %>