/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'bootstrap-custom';

h1, h2 { 
	font-family: "Permanent Marker"; 
	font-size: 32px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; 
	background-image: url("images/glitch.gif");
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

nav {
    padding: 0px 0px 5px 5px;
    border-bottom-style: solid;
}

.review-header {
    background-color: rgb(243, 241, 241);
    padding: 5px;
    border-radius: 8px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: auto; 
    margin-bottom: 25px;
    padding: 0px;
    width: 60%;
    height: 100%;
}

// .content {
//     min-height: 100%;
// 	margin: 0 auto -50px;
// }

.review {
    background-color:rgb(218, 234, 240);
    padding-left: 5px;
    border-radius: 8px;
}

.comment {
    border-top-style: groove;
    border-top-color: lightskyblue;
    border-bottom-style: groove;
    border-bottom-color: lightskyblue;
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .content {
      width: 80%;
    }
}
  
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .content {
      width: 100%;
      padding: 0
    }
}

footer {
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0px; 
    left: 0px; 
    text-align: center; 
    padding: 20px;
}

.subtitle { 
    font-family: "Permanent Marker"; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 15.4px; 
}    

.image {
    padding: 20px;
}

@media (max-width:1024px) {
    /* For tablets: */
    .image {
        padding: 5px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    margin: auto; 
    margin-bottom: 25px;
    padding: 0px;
    width: 30%;
    height: 100%;
    background-color:rgb(218, 234, 240);
    border-radius: 8px;
    padding: 30px;
}

.form-title {
    text-align: center;
    padding-bottom: 5px;
}

.btn {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    width: 185px;
  }
  
  .btn:hover {
    background-color: #008CBA;
    color: white;
    width: 185px;
  }




