<h1>Genres</h1>
<br>
<% if user_signed_in? %>
  <%= link_to "Submit New Review", new_review_path %>
<% else %>
  <strong>Everyone can join, <%= link_to "Sign Up", new_user_registration_path %> to share your small reviews.</strong>
<% end %> 
<br>
<br>
<ul>
  <% Category.all.each do |category| %>
    <p><li><strong><%= link_to category.name, "genres/#{category.id}" %></strong></li></p>
  <% end %>
</ul> 
